.section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  margin-top: 100px;
  margin-left: 100px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 453px;
  height: fit-content;
  border: 1px solid #ffffff42;
  background: #5882c10f;
  border-radius: 35px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 29px;
  padding-left: 50px;
  padding-right: 54.4px;
  padding-bottom: 29px;
  margin-left: 10px;
}
.location{
    color: rgb(255, 255, 255);
    font-size: 16px;
    margin-left: 300px;
}
.loc{
 font-size: 16px;
 font-weight: 400;
 line-height: 12px;
 color: #746666;
}
.title{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 56.5px;
}
.h2{
  font-size: 30px;
  font-weight: 700;
  line-height: 39px;
  color: #fff;
}
.subtext{
  width: 400px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: #fff;
  margin-bottom: 40px;
}
.NameDiv {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.Name {
  font-size: 18px;
  font-weight: 400;
  line-height: 20.88px;
  color: #fff;
}
.NameInp {
  width: 350px;
  height: 50px;
  border-radius: 18px;
  padding-left: 23px;
  background-color: transparent;
  border: 1px solid white;
  color: #fff;
  font-size: large;
}
.NameInp::placeholder {
  color: #bcbec0;
}
.NameInp:hover{
   border: inherit;
  outline: 3px solid rgb(22, 173, 190);
}
.categoryDiv{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.category {
  font-size: 18px;
  font-weight: 400;
  line-height: 20.88px;
  color: #fff;
}
.categoryInp {
  width: 350px;
  height: 50px;
  border-radius: 18px;
  padding-left: 23px;
  background-color: transparent;
  border: 1px solid white;
  color: #fff;
  font-size: large;
}
.categoryInp::placeholder {
  color: #bcbec0;
}
.categoryInp:optional{
  /* background-color: #131643; */
  background-color: #131643;
}
.categoryInp:hover{
   border: inherit;
  outline: 3px solid rgb(22, 173, 190);
}
.priceDiv{
   display: flex;
   flex-direction: column;
   gap: 10px;
}
.price {
  font-size: 18px;
  font-weight: 400;
  line-height: 20.88px;
  color: #fff;
}
.priceInp {
  width: 350px;
  height: 50px;
  border-radius: 18px;
  padding-left: 23px;
  background-color: transparent;
  border: 1px solid white;
  color: #fff;
  font-size: large;
}
.priceInp::placeholder {
  color: #bcbec0;
}
.priceInp:hover{
   border: inherit;
  outline: 3px solid rgb(22, 173, 190);
}
.imageDiv{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.image {
  font-size: 18px;
  font-weight: 400;
  line-height: 20.88px;
  color: #fff;
}
.imageInp {
  width: 350px;
  height: 50px;
  border-radius: 18px;
  padding-left: 23px;
  background-color: transparent;
  border: 1px solid white;
  color: #fff;
  font-size: large;
}
.imageInp::placeholder {
  color: #bcbec0;
}
.imageInp:hover{
   border: inherit;
  outline: 3px solid rgb(22, 173, 190);
}
.descriptionDiv{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.description{
  font-size: 18px;
  font-weight: 400;
  line-height: 20.88px;
  color: #fff;
}
.textarea{
  width: 350px;
  height: 50px;
  border-radius: 18px;
  padding-left: 23px;
  background-color: transparent;
  border: 1px solid white;
  color: #fff;
  font-size: large;
  padding: 10px;

}
.textarea::placeholder {
  color: #bcbec0;
}
.textarea:hover{
   border: inherit;
  outline: 3px solid rgb(22, 173, 190);
}
.lastText{
  font-size: 14px;
  font-weight: 400;
  line-height: 16.24px;
  color: #fff;
}
.submitBtn {
  width: 350px;
  height: 50px;
  background-color: #0075FF;
  font-size: 16px;
  font-weight: 700;
  line-height: 24.18px;
  color: #fff;
  border: 0;
  border-radius: 11px;
  margin-bottom: 22px;
}

.submitBtn:hover {
  opacity: 0.5;
}
.a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 14px;
  font-weight: 700;
  line-height: 19.6px;
  color: #fff;
}
.a:hover{
  opacity: 0.5;
}
.deck{
  font-size: 14px;
  font-weight: 500;
  line-height: 19.6px;
  color: #938c8c;
}
.error{
  font-size: 18px; 
  color: rgb(183, 99, 99);
  font-weight: 600;
  font-family: monospace;
  font-weight: 600;
}