.wrapper{
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   width: 1220px;
   background: linear-gradient(127.09deg, rgba(6, 11, 40, 0.94) 19.41%, rgba(10, 14, 35, 0.49) 76.65%);
   margin-left: 290px;
   border-radius: 20px;
}
.box{
    display: flex;
    flex-direction: column;
}
.rasm{
    width: 370px;
    border-radius: 5px;
}
.wText{
    padding-top: 30px;
    padding-left: 25px;
    margin-right: auto;
    font-size: 22px;
    font-weight: 700;
    line-height: 30.8px;
    color: #fff;
}
.subWrapper{ 
    display: flex;
    margin-top: 42.5px;
    padding-bottom: 50px;
}
.img{
    margin-bottom: 22px;
}
.desk{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: aliceblue;
}
.deleteBtn{
    width: 86px;
    height: 36px;
    display: flex;
    align-self: flex-start;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid #fff;
    font-size: 10px;
    font-weight: 700;
    line-height: 15px;
    color: #fff;
    border-radius: 12px;
}